<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DepartmentManager.Properties.Settings.EducationalDepartmentConnectionString"
            connectionString="Data Source=DESKTOP-06Q8LIR\SQLEXPRESS;Initial Catalog=EducationalDepartment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>